.js-alert-box {
  position: relative;
  padding: var(--input-horizontal-padding);
  background: var(--error-popup-bg);
  color: var(--bg-color);
  margin-bottom: 0.5rem;
  .js-alert-box--dismiss-button {
    position: absolute;
    top: 0;
    right: 0.25rem;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    color: var(--bg-color);
  }
  ul {
    margin-bottom: 0 !important;
  }
}
