.question-status {
  background: var(--post-update-info-bg);
  color: var(--post-update-info-details-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 1.25rem 0 1rem;
  text-align: center;
  em {
    font-weight: var(--font-weight-bold);
    font-style: normal;
  }
}
