.groups-page {
  table.groups-list {
    --clr-header: var(--clr-neutral-30);
    border-collapse: collapse;
    border: 1px solid var(--clr-header);
    th {
      font-weight: var(--font-weight-normal);
      background: var(--clr-header);
      color: var(--bg-color);
    }
    tr:nth-child(odd) {
      background: var(--clr-neutral-90);
    }
    th, td {
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      text-align: left;
    }
    td:nth-child(1) {
      text-transform: capitalize;
    }
    td:nth-child(2) {
      text-align: center;
    }
  }
}
