.moderation-queue-page {

  .js-approve-block,
  .js-decline-block {
    background: var(--clr-neutral-95);
    position: relative;
    border: var(--info-box-border);
    padding: 1rem 0.25rem 0.25rem;
  }

  .js-manage-reject-reasons-dialog .js-modal-body {
    margin-bottom: 0;
  }

  .js-reject-reason-editor {
    input[type="text"] {
      margin-bottom: 0.5rem;
    }
    textarea {
      padding-top: 0.25rem;
      padding-bottom: 0.75rem;
      margin-bottom: 0.25rem;
    }
    .btn {
      margin-right: 0.5rem;
    }
  }

  .moderation-header .tools {
    display: flex;
    margin: 1rem 0 0.5rem;

    .js-label {
      border-radius: 1rem;
      box-shadow: 1px 1px 3px var(--clr-neutral-50);
      position: absolute;
      top: -0.625rem;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      background: var(--bg-color);
      display: inline-block;
      padding: 0 0.5rem;
    }

    .buttons {
      display: flex;
    }

    .btn {
      margin-right: 0.25rem;
      &:last-child {
        margin: 0;
      }
    }

  }

  .select-decline-reason-btn {
    position: relative;
    margin-right: 0.25rem;
    .btn.js-dropdown-trigger {
      margin-right: 0;
    }
    .js-dropdown-target {
      position: absolute;
      left: 0;
      right: 0;
      border: var(--toolbar-dropdown-menu-border);
      background: var(--bg-color);
      border-top: none;
      list-style: none;
      li {
        padding: 0.5rem;
      }
    }
  }

  .js-approve-block {
    margin-right: 0.25rem;
  }

  .info-box {
    padding-left: 1.5rem;
  }

  .messages {
    margin-bottom: 1rem;
  }

  .empty-content-box {
    background: var(--clr-neutral-90);
    margin-bottom: 1rem;
  }

  .message-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    & > * {
      margin-right: 0.5rem;
    }
  }

  .js-message-container {
    margin-bottom: 0.75rem;
    .js-expander {
      text-align: center;
    }
  }

  .js-message:not(.js-expanded) {
    max-height: 9.5rem;
    overflow: hidden;
  }
  
  .js-message {
    ul, ol {
      padding: var(--wmd-preview-list-padding);
    }
    ul, ol, p, pre {
      margin: var(--wmd-preview-block-margin);
    }
    .post-content > :last-child {
      margin-bottom: 0 !important;
    }
  }
  .js-dropdown-active {
    li:hover {
      background: var(--clr-neutral-90);
    }
  }

  .js-manage-reject-reasons-dialog {
    .btn {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .js-select-box {
      list-style: none;
      margin: 0 0 0.5rem;
      li {
        cursor: pointer;
        padding: 0.5rem;
        &:hover,
        &.js-active {
          background: var(--clr-neutral-90);
        }
      }
    }
  }
}
