.js-group-settings {
  h2 {
    margin-bottom: 0.75rem;
  }
  label[for="group-openness-selector"] {
    display: block;
    margin-bottom: 0.25rem;
  }
  #group-openness-selector {
    margin-bottom: 0.5rem;
  }
  .js-description > p {
    margin-bottom: 0.75rem;
  }
  .row.with-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    input[type="checkbox"] {
      margin: 1px 0.25rem 0 0;
    }
  }
}
